@using WebApp.Shared.Grpc
@attribute [Route(Routes.Admin.Users.Route)]
@layout AdminPageLayout
@inject IUserGrpcService UserGrpcService
@inject ILogger<UsersPage> Logger

@code{
    
}
<Input TValue="string" OnInput="value => OnLastNameSearch(value.Value.ToString())"/>
<Table
    TItem="UserDto"
    Loading="Loading"
    DataSource="Users">
    <PropertyColumn Property="ctx => ctx.FirstName"/>
    <PropertyColumn Property="ctx => ctx.MiddleName"/>
    <PropertyColumn Property="ctx => ctx.LastName"/>
    
    <Column @bind-Field="context.RolesInDepartment">
        <SimpleSelect
            Mode="multiple"
            @bind-Values="context.RolesToBind"
            DataSource="Roles"
            >

        </SimpleSelect>
    </Column>
</Table>
<Button Type="@ButtonType.Primary" Disabled="!Changed" OnClick="OnSave">
    <Icon Type="save" Theme="outline"/> Сохранить
</Button>

@code {

    [Parameter]
    public string? DepartmentUrl { get; set; }

    public bool Changed => Users.Any(user => user.Changed);
    public bool Loading { get; set; }
    public List<UserDto> Users { get; set; } = new();
    public List<string> Roles { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Loading = true;
        var usersResponse = await UserGrpcService.SearchUserByLastName(new SearchUserByLastNameRequest()
        {
            DepartmentUrl = DepartmentUrl
        });
        Users = usersResponse.Users ?? new List<UserDto>();
        Users.ForEach(user => user.RolesInDepartment ??= new List<string>());

        var rolesResponse = await UserGrpcService.GetAllRolesInDepartment(new GetAllRolesInDepartmentRequest());
        Roles = rolesResponse.Roles ?? new List<string>();
        Loading = false;
    }

    private async Task OnSave()
    {
        Loading = true;
        await UserGrpcService.PerformUserAdminPanel(new PerformUserAdminPanelRequest()
        {
            UsersToUpdate = Users.Where(user => user.Changed).ToList(),
            DepartmentUrl = DepartmentUrl
        });
        
        var response = await UserGrpcService.SearchUserByLastName(new SearchUserByLastNameRequest()
        {
            DepartmentUrl = DepartmentUrl,
        });
        var users = response.Users ?? new List<UserDto>();
        users.ForEach(user => user.RolesInDepartment ??= new List<string>());
        Users = users;
        Loading = false;
    }

    private async Task OnLastNameSearch(string lastName)
    {
        var response = await UserGrpcService.SearchUserByLastName(new SearchUserByLastNameRequest()
        {
            DepartmentUrl = DepartmentUrl,
            LastName = lastName
        });
        var users = response.Users ?? new List<UserDto>();
        users.ForEach(user => user.RolesInDepartment ??= new List<string>());
        Users = Users
            .Where(user => user.Changed)
            .UnionBy(users, user => user.Id)
            .ToList();
    }
}