@using WebApp.Shared.Grpc
@attribute [Route(Routes.Admin.Workplaces.Route)]
@layout AdminPageLayout
@inject IWorkplaceGrpcService WorkplaceGrpcService
@inject ILogger<WorkplacePage> Logger

<Table
    TItem="WorkplaceDto"
    Loading="Loading"
    DataSource="EditedWorkplaces.Where(wp => wp.State != AdminPanelState.Delete)">
    <Column @bind-Field="context.Title">
        <Input TValue="string" @bind-Value="context.Title" OnChange="() => context.PerformUpdate()"/>
    </Column>
    <Column @bind-Field="context.Comment">
        <Input TValue="string" @bind-Value="context.Comment" OnChange="() => context.PerformUpdate()"/>
    </Column>
    <Column @bind-Field="context.EquipmentModels">
        <Select
            Mode="multiple"
            TItem="EquipmentModelOnWorkplaceDto"
            TItemValue="Guid"
            ValueName="@nameof(EquipmentModelOnWorkplaceDto.Id)"
            LabelName="@nameof(EquipmentModelOnWorkplaceDto.Title)"
            DataSource="EquipmentModels"
            @bind-Values="context.EquipmentModelToBind"/>
    </Column>
    <ActionColumn>
        <Button Danger OnClick="() => { context.PerformDelete(); }">
            <Icon Type="delete" Theme="outline"/> Удалить
        </Button>
        @if (context.State == AdminPanelState.Update)
        {
            <Button OnClick="() => Recover(context)">
                <Icon Type="redo" Theme="outline"/> Восстановить
            </Button>
        }
    </ActionColumn>
</Table>

<div>
    <Paragraph>Корзина</Paragraph>
    @foreach (var dto in EditedWorkplaces.Where(wp => wp.State == AdminPanelState.Delete))
    {
        <Tag OnClick="() => dto.Recover()"><Icon Type="redo" Theme="outline"/> @dto.Title</Tag>
    }
</div>

<Button OnClick="OnCreateWorkplace">
    <Icon Type="plus-circle" Theme="outline"/>Новое рабочее место
</Button>
<Button Type="@ButtonType.Primary" Disabled="!Savable" OnClick="OnSave">
    <Icon Type="save" Theme="outline"/> Сохранить
</Button>

@code {

    [Parameter]
    public string? DepartmentUrl { get; set; }

    public bool Savable => EditedWorkplaces.Any(wp => wp.State != AdminPanelState.Initial);

    public bool Loading { get; set; }
    public List<WorkplaceDto> EditedWorkplaces { get; set; } = new();
    public Dictionary<Guid, WorkplaceDto> WorkplacesForRecover { get; set; } = new();

    public List<EquipmentModelOnWorkplaceDto> EquipmentModels { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await RefreshWorkplacesAndEquipment();
    }

    private async Task RefreshWorkplacesAndEquipment()
    {
        Loading = true;
        var equipmentModelsResponse = await WorkplaceGrpcService.GetAllEquipmentModels(new GetAllEquipmentModelsRequest()
        {
            DepartmentUrl = DepartmentUrl
        });
        EquipmentModels = equipmentModelsResponse.EquipmentModels ?? new List<EquipmentModelOnWorkplaceDto>();

        var workplacesResponse = await WorkplaceGrpcService.GetAllWorkplaces(new GetAllWorkplacesRequest()
        {
            DepartmentUrl = DepartmentUrl
        });
        EditedWorkplaces = workplacesResponse.Workplaces ?? new List<WorkplaceDto>();
        EditedWorkplaces.ForEach(wp => wp.EquipmentModels ??= new List<Guid>());

        WorkplacesForRecover = EditedWorkplaces.ToDictionary(x => x.Id, dto => new WorkplaceDto()
        {
            Id = dto.Id,
            Title = dto.Title,
            Comment = dto.Comment,
            EquipmentModels = new List<Guid>(dto.EquipmentModels!)
        });

        Loading = false;
    }

    private void OnCreateWorkplace()
    {
        EditedWorkplaces.Add(new WorkplaceDto()
        {
            State = AdminPanelState.Create,
            EquipmentModels = new List<Guid>()
        });
    }

    private async Task OnSave()
    {
        await WorkplaceGrpcService.PerformWorkplaceAdminPanel(new PerformWorkplaceAdminPanelRequest()
        {
            DepartmentUrl = DepartmentUrl,
            EditedWorkplaces = EditedWorkplaces
                .Where(wp => wp.State != AdminPanelState.Initial)
                .ToList()
        });
        await RefreshWorkplacesAndEquipment();
    }

    private void Recover(WorkplaceDto dto)
    {
        var rec = WorkplacesForRecover[dto.Id];
        dto.EquipmentModels = new List<Guid>(rec.EquipmentModels!);
        dto.Title = rec.Title;
        dto.Comment = rec.Comment;
        dto.State = AdminPanelState.Initial;
    }
}